.parentContainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2em;
    width: 50%;
    margin: auto;
    padding: 1em;
}

.menuText {
    font-size: 1.7em;
    font-weight: 550;
    padding-right: 6em;
}

.dropdownMenu {
    width: 200px;
}